nav{
    padding-top:19px ;
    padding-bottom: 19px;
    background-color: rgb(14, 14, 14);
    z-index: 9;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    ul{
        li{
            align-content: center;
            margin: 8px 16px;
            .nav-link{
                color:var(--text-color2) !important;
                font-family: "Poppins", serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                padding: 0;
                &:hover,&.active{
                    color: var(--main-head) !important;
                }
                &.active{
                    font-weight: 500;
                }
            }            
        }
        li.borded{
            padding: 8px 16px;
            border: 1px solid white;
            border-radius: 64px;
        }
    
    }
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}
.fa-bars{
    font-size: 25px;
}
