<section class="sec_padding bottom mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column flex-lg-row">
                <div class="sec_text col-12 col-lg-6 px-lg-5">
                    <p>GET IN TOUCH</p>
                    <h2 class="h1">Curious what it's like to work with us?</h2>
                    <p>through curiosity and exploration, we work closely with our clients to uncover what makes them unique and bring to life creative work they truly love and are proud of, let's chat.</p>
                    <p class="h2 mt-5">info&#64;brace.com</p>
                </div>

                <div class="sec_inputs col-12 col-lg-6 px-lg-5">
                    <form action="">

                        <div class="col-12 mb-4 d-flex flex-column">
                            <label for="name">Name*</label>
                            <input class="py-3 ps-3" type="text" placeholder="Jane" id="name">
                        </div>
                        <div class="col-12 mb-4 d-flex flex-column">
                            <label for="email">Email*</label>
                            <input class="py-3 ps-3" type="email" placeholder="jane@example.com" id="email">
                        </div>
                        <div class="col-12 mb-4 d-flex flex-column">
                            <label for="number">Phone Number*</label>
                            <input class="py-3 ps-3" type="" placeholder="xxxx-xxxx-xxxx" id="number">
                        </div>
                        <div class="col-12 mb-4 d-flex flex-column">
                            <label for="message">Message*</label>
                            <textarea rows="6" class="py-3 ps-3" name="Message" id="Message" placeholder="Message*"></textarea>
                        </div>
                        <div class="col-12 mb-4 d-flex flex-column">
                            <button type="submit" class="btn rounded-pill py-3">Submit</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</section>