<div 
    *ngIf="isLoading && showLoadingForHome" 
    class="loading-overlay"
    >
    <div class="d-flex flex-row justify-content-between align-items-end">
        <figure><img src="./../assets/New folder/Property 1=Default.png" alt=""></figure>
        <figure><img src="./../assets/New folder/_Compound Path_.png" alt=""></figure>
        <figure><img src="./../assets/New folder/_Compound Path_ (1).png" alt=""></figure>
        <figure><img src="./../assets/New folder/_Compound Path_ (2).png" alt=""></figure>
        <figure><img src="./../assets/New folder/_Compound Path_ (3).png" alt=""></figure>
        <figure><img src="./../assets/New folder/_Compound Path_ (4).png" alt=""></figure>
    </div>
</div>
<app-navbar></app-navbar>
<main><router-outlet></router-outlet></main>
<!-- <app-footer></app-footer> -->